#body {
}

#videoBG {
  position: fixed;
  width: 100%;
  z-index: -1;
}

#container {
  position: absolute;
  margin-top: 50px;
  margin-left: 15%;
  width: 100%;
  height: auto;
  border-style: solid;
  border-radius: 20px;
  border-width: 2px;
  border-color: rgb(2, 102, 102, 0.507);
  background-color: rgb(2, 102, 102, 0.507);
}

form {
  text-align: right;
  width: 100%;
  padding-top: 50px;
  padding-right: 90px;
}

#city-input {
  text-align: center;
  border-radius: 20px;
  border-color: white;
  background-color: white;
  color: black;
}

#city-submit {
  text-align: center;
  border-radius: 20px;
  border-color: white;
  background-color: rgba(255, 255, 255, 0.151);
  color: white;
}

#current-button {
  text-align: center;
  border-radius: 20px;
  width: 100px;
  border-color: white;
  background-color: rgba(255, 255, 255, 0.151);
  color: white;
}

h1 {
  text-align: left;
  margin-left: 20%;
  padding: 0;
  color: white;
}

h2 {
  color: white;
  margin-left: 20%;
}

#primary-temperature {
  display: block;
  margin: 0 auto;
  line-height: 190px;
  text-align: center;
  height: 200px;
  width: 200px;
  border-width: 3px;
  border-style: solid;
  border-radius: 50%;
  font-size: 48px;
  color: white;
}

#fahrenheit-link {
  color: rgb(2, 2, 65);
}

#celcius-link {
  color: rgb(2, 2, 65);
}

.changable-units {
  text-align: right;
  padding-right: 35%;
  font-size: 36px;
  color: white;
}

.mid-row {
  text-align: center;
  color: white;
  padding-top: 5px;
}

.days-row {
  text-align: center;
  color: white;
}

.temperature-row {
  text-align: center;
  padding-bottom: 40px;
}

.day-one,
.day-two,
.day-three,
.day-four,
.day-five {
  display: block;
  margin: 0 auto;
  color: white;
}

.temp-one,
.temp-two,
.temp-three,
.temp-four,
.temp-five {
  display: block;
  margin: 0 auto;
  line-height: 90px;
  border-width: 3px;
  border-style: solid;
  border-radius: 50%;
  color: white;
  min-width: 90px;
}

#open-source {
  text-align: center;
  color: white;
}

#open-source-link {
  color: rgb(2, 2, 65);
}
